.DS_Store
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
test
dist/static/img/carousel/carousel_9.jpg
dist/index.html
dist/static/css/backend.css
dist/static/css/catuncle.css
dist/static/css/common.css
dist/static/css/foreend.css
dist/static/fonts/element-icons.6f0a763.ttf
dist/static/img/avatar/avatar_1.png
dist/static/img/avatar/avatar_8.png
dist/static/img/avatar/default.png
dist/static/img/background/bg_1.png
dist/static/img/background/bg_2.png
dist/static/img/background/bg_3.png
dist/static/img/background/bg_4.png
dist/static/img/background/bg_5.png
dist/static/img/background/bg_6.png
dist/static/img/background/bg_7.png
dist/static/img/background/bg_8.png
dist/static/img/background/bg_9.png
dist/static/img/background/thumb/bg_1.png
dist/static/img/background/thumb/bg_2.png
dist/static/img/background/thumb/bg_3.png
dist/static/img/background/thumb/bg_4.png
dist/static/img/background/thumb/bg_5.png
dist/static/img/background/thumb/bg_6.png
dist/static/img/background/thumb/bg_7.png
dist/static/img/background/thumb/bg_8.png
dist/static/img/background/thumb/bg_9.png
dist/static/img/carousel/carousel_1.png
dist/static/img/carousel/carousel_2.png
dist/static/img/carousel/carousel_3.png
dist/static/img/carousel/carousel_4.png
dist/static/img/carousel/carousel_6.png
dist/static/img/carousel/carousel_7.png
dist/static/img/carousel/carousel_8.jpg
dist/static/img/category/ai.png
dist/static/img/category/android.png
dist/static/img/category/bootstrap.png
dist/static/img/category/c4d.png
dist/static/img/category/cocos-2d.png
dist/static/img/category/h5.png
dist/static/img/category/js.png
dist/static/img/category/node.png
dist/static/img/category/php.png
dist/static/img/category/ps.png
dist/static/img/category/vue.png
dist/static/img/other/app.png
dist/static/img/other/change_skin.png
dist/static/img/other/cur_bg.png
dist/static/img/other/favicon.ico
dist/static/img/other/footer-line.png
dist/static/img/other/logo.png
dist/static/img/post/post_thum_0.png
dist/static/img/post/post_thum_1.png
dist/static/img/post/post_thum_10.png
dist/static/img/post/post_thum_11.png
dist/static/img/post/post_thum_2.png
dist/static/img/post/post_thum_22.png
dist/static/img/post/post_thum_3.png
dist/static/img/post/post_thum_33.png
dist/static/img/post/post_thum_4.png
dist/static/img/post/post_thum_41.png
dist/static/img/post/post_thum_5.png
dist/static/img/post/post_thum_6.png
dist/static/img/post/post_thum_7.png
dist/static/js/common.js
dist/static/scss/_common.scss
dist/static/scss/_header.scss
dist/static/scss/_home.scss
