body {
    color: #7b7b7b;
    font-family: "Oxygen",Arial,"Hiragino Sans GB","Microsoft YaHei","STHeiti","WenQuanYi Micro Hei",SimSun,sans-serif;
    min-height:500px;
    font-size:13px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-size:100% !important;
}
.bbs-wrap {
    width:1200px;
}
section.bbs-wrap {
    padding: 1rem 0;
    background-color: rgba(0,0,0, 0.25);
    box-sizing: border-box;
    box-shadow: 0 0 2px rgba(0,0,0,0.2);
    border-radius: 5px;
    margin-bottom: 2rem;
}
.header-nav {
    height:40px;
    margin-bottom:150px;
    position: relative;
    height: 40px;
}
.header-nav .blur-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size:100% !important;
    -webkit-filter: blur(4px);
    filter: blur(4px);
}
.header-nav .nav-mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: hsla(0,0%,100%,.4);
    -webkit-box-shadow: rgba(0,0,0,.1) 0 1px 2px;
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
}
.header-nav > .bbs-wrap .menus li,.menu-right>li {
    line-height:40px;
    padding:0 15px;
    display: inline-block;
    vertical-align: top;
}
.header-nav > .bbs-wrap .logo img {
    width:100px;
    height:30px;
    margin-top: 0.5rem;
}
.header-nav > .bbs-wrap .logo span {
    line-height: 40px;
    font-weight: bold;
    font-size: 21px;
    padding: 0 0.8rem;
}
.footer-nav {
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: #a4cab6;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15),1px 0 2px rgba(0, 0, 0, 0.05);
    margin-bottom: 30px;
}
.post-card-big .info-bottom {
    font-size:12px;
}
.post-card-big .read-more a {
    line-height: 34px;
    padding: 9px 10px;
    background: #cad3c3;
    color: #fff !important;
    border-radius: 3px;
    font-size: 13px;
}
.post-card-big .card-body .card-text {
    font-size: 13px;
}
.widget_webInfo i {
    width: 52px;
    font-size: 14px;
}
.header-nav .menus li:hover,.header-nav .menu-right li:hover {
    background-color:rgba(255,255,255,0.45);
}
.badge-primary {
    color: #fff;
    background-color: #007bff;
}
.badge_floorer {
    color: #fff;
    background-color: #17a2b8;
}
#user_control {
    position:relative;z-index:10;
}
#userControl_head,#manager_head {
    line-height:16px;
    padding:0 15px;
    height:40px;
}
#manager_head {
    line-height: 40px;
    padding-right:15.5px;
}
#userControl_head img {
    margin-top:4px;
    border:1px solid #fff;
}
#userControl_body li,#manager_body li {
    padding:0 15px;
    line-height:30px;
    height:30px;
}
#userControl_body li:nth-child(2),#userControl_body li:last-child {
    padding:0;
    position:relative;
}
#userControl_body .level { 
    position:absolute;
    top:0;
    left:5px;
    color:#fff;
    font-size:12px;
    width:50px;
    overflow:hidden;
}
#userControl_body .level em {
    font-size:16px;
}
#userControl_body .arrow_left {
    position: absolute;
    top: 0px;
    left: 50px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 7px solid white;
}
#userControl_body .arrow_right {
    width: 0;
    height: 0;
    position: absolute;
    bottom: -1px;
    left: 50px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 7px solid #fff;
}
#userControl_body,#manager_body {
    animation-name: topMenu;
    -webkit-animation-name: topMenu;
    -moz-animation-name: topMenu;
    width:200px;
    position:absolute;
    left:-136px;
    border-radius:0 0 5px 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}
#userControl_body i {
    width: 25px;
}
#manager_body {
    width: 57px;
    left: 0;
}
#userControl_body .el-progress-bar__outer ,#userControl_body .el-progress-bar__inner{
    border-radius:0px;
}
#userControl_body li:last-child {
    background-color:#c0c4c3;border-radius:0 0 5px 5px;
}
.user_tab_button {
    background-color: #d1c2d3;
    border: none;
    color: #fff;
    padding: 0.3rem 1rem;
}
.body_bg_box {
    position: fixed;
    bottom: 0;
    background-color:transparent;
    color: #fff;
    width: 100%;
    z-index: 100;
    animation-name: topMenu;
    -webkit-animation-name: topMenu;
    -moz-animation-name: topMenu;
    z-index:200;
    border:none;
    box-shadow:1px 0 1px rgba(0, 0, 0, 0.15);
}
.body_bg_box .el-card__header {
    background-color: rgba(51,51,51,.8);
}
.body_bg_box .el-card__body {
    border-top:none;
    background-color: #000;
    margin:0;
    padding-bottom:20px;
}
.body_bg_container li {
    width: 130px;
    height: 80px;
    background-size:130px 80px !important;
    border-radius: 0;
    border:2px solid #eb7350;
}
.body_bg_container li:hover,.body_bg_container .is-active li {
    border:2px solid #eb7350;
}
.body_bg_container li:hover .tit {
    background-color:rgba(74,74,74,0.6);
    display: block;
}
.body_bg_container .el-radio-button__inner {
    padding:0;
    margin-right: 10px;
    border-radius:0 !important;
    font-size : 12px;
    border:none;
    color: #fff;

}
.body_bg_box {
    position: fixed;
    bottom: 0;
    background-color:transparent;
    color: #fff;
    width: 100%;
    z-index: 100;
    animation-name: topMenu;
    -webkit-animation-name: topMenu;
    -moz-animation-name: topMenu;
    z-index:200;
    border:none;
    box-shadow:1px 0 1px rgba(0, 0, 0, 0.15);
}
.body_bg_box .el-card__header {
    background-color: rgba(51,51,51,.8);
}
.body_bg_box .el-card__body {
    border-top:none;
    background-color: #000;
    margin:0;
    padding-bottom:20px;
}
.body_bg_container li {
    width: 130px;
    height: 80px;
    background-size:130px 80px !important;
    border-radius: 0;
    border:2px solid #eb7350;
}
.body_bg_container li:hover,.body_bg_container .is-active li {
    border:2px solid #eb7350;
}
.body_bg_container li:hover .tit {
    background-color:rgba(74,74,74,0.6);
    display: block;
}
.body_bg_container .el-radio-button__inner {
    padding:0;
    margin-right: 10px;
    border-radius:0 !important;
    font-size : 12px;
    border:none;
    color: #fff;

}
.body_bg_container .el-radio-button:first-child .el-radio-button__inner {
    border-left:none;
    color: #fff;
}
.body_bg_container .el-radio-button__orig-radio:checked+.el-radio-button__inner {
    box-shadow: none;
}
.body_bg_container .el-radio-button__inner .tit{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    line-height: 20px;
    background-color: #1a6840;
    display: none;
}
.body_bg_container .el-radio-button__inner i {
    position: absolute;
    background: url(/static/img/other/cur_bg.png) no-repeat;
    width: 30px;
    height: 30px;
    top: 0;
    right: 0;
    display: none;
}
.body_bg_container .is-active li i {
    display: block;
}
.body_bg_container .el-radio-button__inner:hover {
    color:#fff;
}
.change_body_bg {
    position: absolute;
    right: 0;
    top: 0;
    width: 45px;
    height: 45px;
    background: url(/static/img//other/change_skin.png) no-repeat;
    background-position: -2px -3px;
}