@charset "UTF-8";
@font-face {
  font-family: 'iconfont';
  /* project id 831481 */
  src: url("//at.alicdn.com/t/font_831481_gia8p4ym4lq.eot");
  src: url("//at.alicdn.com/t/font_831481_gia8p4ym4lq.eot?#iefix") format("embedded-opentype"), url("//at.alicdn.com/t/font_831481_gia8p4ym4lq.woff") format("woff"), url("//at.alicdn.com/t/font_831481_gia8p4ym4lq.ttf") format("truetype"), url("//at.alicdn.com/t/font_831481_gia8p4ym4lq.svg#iconfont") format("svg"); }

@keyframes topMenu {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, 20px);
    transform: translate(0, 20px); }
  100% {
    opacity: 1; } }

@keyframes rightToHide {
  from {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz--transform: translateX(0);
    opacity: 1;
    visibility: visible; }
  to {
    transform: translateX(300px);
    -webkit-transform: translateX(300px);
    -moz-transform: translateX(300px);
    opacity: 0;
    visibility: hidden; } }

@keyframes leftToHide {
  from {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz--transform: translateX(0);
    opacity: 1;
    visibility: visible; }
  to {
    transform: translateX(-300px);
    -webkit-transform: translateX(-300px);
    -moz-transform: translateX(-300px);
    opacity: 0;
    visibility: hidden; } }

@keyframes leftToShow {
  from {
    transform: translateX(300px);
    -webkit-transform: translateX(300px);
    -moz-transform: translateX(300px);
    opacity: 0;
    visibility: hidden; }
  to {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    opacity: 1;
    visibility: visible; } }

@keyframes rightToShow {
  from {
    transform: translateX(-300px);
    -webkit-transform: translateX(-300px);
    -moz-transform: translateX(-300px);
    opacity: 0;
    visibility: hidden; }
  to {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    opacity: 1;
    visibility: visible; } }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  border: 0;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: none;
  padding: 0;
  vertical-align: baseline; }

body {
  color: #777;
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  min-height: 500px;
  font-size: 14px;
  background-size: 100% !important;
  background-color: #f0f0f0; }

.bbs-max-wrap {
  max-width: 1250px;
  transition: 0.5s all cubic-bezier(0.68, -0.55, 0.27, 1.55);
  -webkit-transition: 0.5s all cubic-bezier(0.68, -0.55, 0.27, 1.55);
  -moz-transition: 0.5s all cubic-bezier(0.68, -0.55, 0.27, 1.55); }

.bbs-wrap {
  width: 1250px;
  transition: 0.5s all cubic-bezier(0.68, -0.55, 0.27, 1.55);
  -webkit-transition: 0.5s all cubic-bezier(0.68, -0.55, 0.27, 1.55);
  -moz-transition: 0.5s all cubic-bezier(0.68, -0.55, 0.27, 1.55); }

.user-max-wrap {
  max-width: 1000px;
  transition: 0.5s all cubic-bezier(0.68, -0.55, 0.27, 1.55);
  -webkit-transition: 0.5s all cubic-bezier(0.68, -0.55, 0.27, 1.55);
  -moz-transition: 0.5s all cubic-bezier(0.68, -0.55, 0.27, 1.55); }

.container-wrap {
  width: 1100px;
  transition: 0.5s all cubic-bezier(0.68, -0.55, 0.27, 1.55);
  -webkit-transition: 0.5s all cubic-bezier(0.68, -0.55, 0.27, 1.55);
  -moz-transition: 0.5s all cubic-bezier(0.68, -0.55, 0.27, 1.55); }

.container-max-wrap {
  max-width: 1100px;
  transition: 0.5s all cubic-bezier(0.68, -0.55, 0.27, 1.55);
  -webkit-transition: 0.5s all cubic-bezier(0.68, -0.55, 0.27, 1.55);
  -moz-transition: 0.5s all cubic-bezier(0.68, -0.55, 0.27, 1.55); }

h1, h2, h3, h4, h5, h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  color: #777; }

input, textarea {
  outline: none !important;
  border-color: #dcdfe6 !important;
  resize: none !important;
  font-family: inherit; }
  input:focus, textarea:focus {
    outline: none !important;
    border-color: #dcdfe6 !important;
    resize: none !important; }

.text-left {
  text-align: left !important; }

.text-right {
  text-align: right !important; }

.text-center {
  text-align: center !important; }

.fixed-to-top {
  position: fixed !important;
  top: 0;
  z-index: 1; }

.rotate-90 {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg); }

.rotate-180 {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg); }

.rotate-270 {
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg); }

.rotate-360 {
  -webkit-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg); }

h1 {
  font-size: 1.5rem; }

h2 {
  font-size: 1.25rem; }

h3 {
  font-size: 1rem; }

h4 {
  font-size: 0.75rem; }

h5 {
  font-size: 0.5rem; }

h6 {
  font-size: 0.25rem; }

ul, li {
  list-style: none; }

a, a:hover {
  text-decoration: none !important;
  color: #777; }

.position-relative {
  position: relative !important; }

.position-absolute {
  position: absolute !important; }

.position-fixed {
  position: fixed !important; }

.d-block {
  display: block !important; }

.d-none {
  display: none !important; }

.d-inline {
  display: inline !important; }

.d-inline-block {
  display: inline-block !important; }

.d-inline-flex {
  display: inline-flex !important; }

.f-wrap {
  flex-wrap: wrap !important; }

.f-nowrap {
  flex-wrap: nowrap !important; }

.d-flex {
  display: flex !important;
  display: -webkit-box !important;
  display: -moz-box !important;
  display: -ms-flexbox !important;
  display: -webkit-flex !important; }

.flex-item {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  flex: 1; }

.mx-auto {
  margin-left: auto !important;
  margin-right: auto !important; }

.align-top {
  vertical-align: top !important; }

.align-bottom {
  vertical-align: bottom !important; }

.m-1 {
  margin: 0.25rem !important; }

.m-2 {
  margin: 0.5rem !important; }

.m-3 {
  margin: 1rem !important; }

.m-4 {
  margin: 1.5rem !important; }

.m-5 {
  margin: 3rem !important; }

.mt-1 {
  margin-top: 0.25rem !important; }

.mt-2 {
  margin-top: 0.5rem !important; }

.mt-3 {
  margin-top: 1rem !important; }

.mt-4 {
  margin-top: 1.5rem !important; }

.mt-5 {
  margin-top: 3rem !important; }

.mr-1 {
  margin-right: 0.25rem !important; }

.mr-2 {
  margin-right: 0.5rem !important; }

.mr-3 {
  margin-right: 1rem !important; }

.mr-4 {
  margin-right: 1.5rem !important; }

.mr-5 {
  margin-right: 3rem !important; }

.mb-1 {
  margin-bottom: 0.25rem !important; }

.mb-2 {
  margin-bottom: 0.5rem !important; }

.mb-3 {
  margin-bottom: 1rem !important; }

.mb-4 {
  margin-bottom: 1.5rem !important; }

.mb-5 {
  margin-bottom: 3rem !important; }

.ml-1 {
  margin-left: 0.25rem !important; }

.ml-2 {
  margin-left: 0.5rem !important; }

.ml-3 {
  margin-left: 1rem !important; }

.ml-4 {
  margin-left: 1.5rem !important; }

.ml-5 {
  margin-left: 3rem !important; }

.p-1 {
  padding: 0.25rem !important; }

.p-2 {
  padding: 0.5rem !important; }

.p-3 {
  padding: 1rem !important; }

.p-4 {
  padding: 1.5rem !important; }

.p-5 {
  padding: 3rem !important; }

.pt-1 {
  padding-top: 0.25rem !important; }

.pt-2 {
  padding-top: 0.5rem !important; }

.pt-3 {
  padding-top: 1rem !important; }

.pt-4 {
  padding-top: 1.5rem !important; }

.pt-5 {
  padding-top: 3rem !important; }

.pr-1 {
  padding-right: 0.25rem !important; }

.pr-2 {
  padding-right: 0.5rem !important; }

.pr-3 {
  padding-right: 1rem !important; }

.pr-4 {
  padding-right: 1.5rem !important; }

.pr-5 {
  padding-right: 3rem !important; }

.pb-1 {
  padding-bottom: 0.25rem !important; }

.pb-2 {
  padding-bottom: 0.5rem !important; }

.pb-3 {
  padding-bottom: 1rem !important; }

.pb-4 {
  padding-bottom: 1.5rem !important; }

.pb-5 {
  padding-bottom: 3rem !important; }

.pl-1 {
  padding-left: 0.25rem !important; }

.pl-2 {
  padding-left: 0.5rem !important; }

.pl-3 {
  padding-left: 1rem !important; }

.pl-4 {
  padding-left: 1.5rem !important; }

.pl-5 {
  padding-left: 3rem !important; }

.bg-white {
  background: #fff !important; }

.text-white {
  color: #fff !important; }

.text-blue {
  color: #0eb0c9 !important; }

.text-gary {
  color: #909399 !important; }

.font_color {
  color: #777 !important; }

.float-left {
  float: left !important; }

.float-right {
  float: right !important; }

.b-radius-2 {
  border-radius: 2px !important; }

.b-radius-3 {
  border-radius: 3px !important; }

.b-radius-5 {
  border-radius: 5px !important; }

.badge {
  display: inline-block;
  padding: .25em .4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 2px; }

.badge-leve {
  background: #ccc; }

.badge-primary {
  color: #fff;
  background-color: #007bff; }

.badge_floorer {
  color: #fff;
  background-color: #17a2b8; }

.am-5 {
  animation-duration: .5s;
  -webkit-animation-duration: .5s;
  -moz-animation-duration: .5s;
  animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0.68, -0.55, 0.27, 1.55);
  -webkit-animation-timing-function: cubic-bezier(0.68, -0.55, 0.27, 1.55);
  -moz-animation-timing-function: cubic-bezier(0.68, -0.55, 0.27, 1.55); }

.b-dashed-top {
  border-top: 1px dashed #dcdfe6; }

.w-full {
  width: 100% !important; }

.wrap {
  box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.15); }

.clearfix::after {
  content: '';
  clear: both;
  display: block; }

.border-0 {
  border: none !important; }

.btm-0 {
  bottom: 0 !important; }

.height-0 {
  height: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
  opacity: 0 !important;
  visibility: hidden !important; }

.bg-color {
  background-color: #25b865 !important; }

.bg-second-color {
  background-color: #fafafa !important; }

.input-line-animation {
  width: 100%;
  padding-top: 2rem;
  position: relative; }
  .input-line-animation label {
    position: absolute;
    top: 1.4rem;
    font-size: 14px;
    transition: 0.5s all ease-out;
    -webkit-transition: 0.5s all ease-out;
    -moz-transition: 0.5s all ease-out; }
  .input-line-animation input, .input-line-animation textarea {
    color: #777;
    padding: .5rem 0;
    width: 100%;
    border: none !important;
    background-size: 0 2px,100% 1px;
    background-repeat: no-repeat;
    background-position: bottom, 50% calc(100% - 1px);
    background-color: transparent;
    float: none;
    border-radius: 0;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#93b5cf), to(#93b5cf)), -webkit-gradient(linear, left top, left bottom, from(#dcdfe6), to(#dcdfe6));
    background-image: -webkit-linear-gradient(#93b5cf, #93b5cf), -webkit-linear-gradient(#dcdfe6, #dcdfe6);
    background-image: linear-gradient(#93b5cf, #93b5cf), linear-gradient(#dcdfe6, #dcdfe6);
    transition: 0.5s all ease-out;
    -webkit-transition: 0.5s all ease-out;
    -moz-transition: 0.5s all ease-out; }
  .input-line-animation.input-is-focused label {
    top: 6px !important;
    font-size: 11px !important; }
  .input-line-animation.input-is-focused input, .input-line-animation.input-is-focused textarea {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#93b5cf), to(#93b5cf)), -webkit-gradient(linear, left top, left bottom, from(#dcdfe6), to(#dcdfe6)) !important;
    background-image: -webkit-linear-gradient(#93b5cf, #93b5cf), -webkit-linear-gradient(#dcdfe6, #dcdfe6) !important;
    background-image: linear-gradient(#93b5cf, #93b5cf), linear-gradient(#dcdfe6, #dcdfe6) !important;
    background-size: 100% 2px,100% 1px !important; }

.cub_left > .el-card__header {
  cursor: default; }
  .cub_left > .el-card__header .title {
    padding-left: 15px;
    display: inline-block; }
  .cub_left > .el-card__header::before {
    content: '';
    background: #6572b8;
    position: absolute;
    left: 0;
    top: 17px;
    height: 25px;
    width: 3px;
    border-radius: 0 2px 2px 0;
    -webkit-border-radius: 0 2px 2px 0;
    -moz-border-radius: 0 2px 2px 0; }

.cub_left_full > .el-card__header {
  cursor: default; }
  .cub_left_full > .el-card__header .title {
    padding-left: 15px; }
  .cub_left_full > .el-card__header::before {
    content: '';
    width: 3px;
    height: 20px;
    background: #aaa;
    position: absolute;
    display: inline-block; }

.gird_left > .el-card__header {
  cursor: default;
  padding: 0; }
  .gird_left > .el-card__header .title {
    position: relative;
    color: #fff;
    background-color: #25b865;
    display: inline-block;
    padding: 5px; }
    .gird_left > .el-card__header .title .arrow {
      position: absolute;
      top: 28px;
      left: 35%;
      border-left: 10px solid transparent;
      border-top: 10px solid #47ae36;
      width: 0;
      height: 0;
      border-right: 10px solid transparent;
      border-bottom: 10px solid transparent; }

.gird_left > .el-card__body {
  border-style: solid;
  margin: -1px 0 0 0 !important;
  border: 1px solid #dcdfe6;
  padding: 5px 10px !important; }

.cub_left_btm > .el-card__header {
  cursor: default;
  position: relative;
  border-bottom: 1px solid #dcdfe6 !important;
  padding: 0 !important; }
  .cub_left_btm > .el-card__header .title {
    border-bottom: 2px solid #25b865;
    padding: 0.3rem 0.3rem 0.3rem 0;
    display: inline-block; }

.cub_left_btm > .el-card__body {
  border-top: none !important; }

.opacity-0 {
  opacity: 0 !important; }

.widget {
  background: #fff;
  padding: 1rem;
  border-radius: 2px; }
  .widget > .hd {
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid #dcdfe6; }
    .widget > .hd .tit {
      display: inline-block; }
    .widget > .hd .more {
      float: right;
      padding: 4px 8px;
      border-radius: 2px; }
      .widget > .hd .more:hover {
        color: #fff;
        background: #f36478; }

.mint-header {
  z-index: 10; }
  .mint-header .mint-header-title {
    color: #fff !important;
    font-size: 25px !important; }
  .mint-header .iconfont {
    font-size: 30px; }

.van-swipe .van-swipe__indicators {
  left: auto !important;
  right: -5px;
  z-index: 0; }

body {
  color: #4C4C4C; }

.page_wrap {
  background: #f0f0f0;
  position: relative; }
  .page_wrap > .container {
    min-height: 700px;
    background: #f0f0f0;
    transition: 0.5s all ease-out;
    -webkit-transition: 0.5s all ease-out;
    -moz-transition: 0.5s all ease-out;
    position: relative;
    left: 0;
    right: auto;
    top: 0;
    z-index: 5;
    box-shadow: -3px 0px 5px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: -3px 0px 5px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: -3px 0px 5px rgba(0, 0, 0, 0.5); }

.page_l {
  left: 169px !important; }

.page_r {
  left: -169px !important; }

.badge_list span {
  padding: 1px 3px;
  border-radius: 2px;
  color: #fff; }

.level {
  background: #25b865; }

.m_card {
  background: #fff; }
  .m_card > .hd {
    padding: .5rem 1rem; }
  .m_card > .bd {
    padding: .5rem 1rem; }

.postCard_m {
  background: #fff; }
  .postCard_m > .hd {
    padding: .2rem 1rem; }
    .postCard_m > .hd span {
      display: inline-block;
      padding: .8rem .5rem;
      margin-right: 5px;
      border-bottom: 2px solid transparent; }
    .postCard_m > .hd .active {
      border-bottom: 2px solid #93b5cf; }
  .postCard_m > .bd {
    padding: 0 1rem 1rem 1rem;
    box-sizing: border-box; }
    .postCard_m > .bd .item {
      padding: 1rem 0;
      display: block;
      border-bottom: 1px solid #dcdfe6; }
      .postCard_m > .bd .item .thumb {
        height: 75px; }
        .postCard_m > .bd .item .thumb img {
          width: 100%;
          height: 100%; }
      .postCard_m > .bd .item .info {
        padding: 0 1rem; }
        .postCard_m > .bd .item .info .tit {
          color: #4C4C4C;
          letter-spacing: 1px;
          height: 40px;
          overflow: hidden;
          text-overflow: ellipsis;
          margin: .5rem 0 8px 0; }
        .postCard_m > .bd .item .info .author .nick_name {
          display: inline-block;
          font-size: 12px; }
        .postCard_m > .bd .item .info .author .comment {
          float: right; }
          .postCard_m > .bd .item .info .author .comment span {
            font-size: 12px; }

.rest_tip {
  padding: 1rem;
  text-align: center;
  cursor: pointer; }
  .rest_tip .container {
    text-align: center;
    line-height: 34px;
    font-size: 14px;
    margin: 12px auto;
    width: 80%;
    border-radius: 25px;
    background: #f8f8f8;
    color: #a2a9ad; }
    .rest_tip .container span {
      padding: 0 2px; }

.end_tip {
  color: #a2a9ad;
  padding: 1rem;
  text-align: center; }
  .end_tip span {
    vertical-align: middle;
    display: inline-block;
    padding-top: 15px;
    letter-spacing: 1px; }
  .end_tip .iconfont {
    font-size: 50px;
    vertical-align: middle; }

.empty_tip {
  text-align: center;
  padding: 1rem;
  color: #d4dade; }
  .empty_tip .iconfont {
    font-size: 50px; }
  .empty_tip p {
    margin-top: 5px; }

.m_header {
  background: #26a2ff;
  position: relative;
  z-index: 5; }
  .m_header .mint-header {
    height: 46px;
    top: 0;
    left: 0;
    transition: 0.25s all ease-out;
    -webkit-transition: 0.25s all ease-out;
    -moz-transition: 0.25s all ease-out;
    background: none;
    color: #fff;
    overflow: hidden; }
    .m_header .mint-header .iconfont {
      font-size: 25px; }
    .m_header .mint-header .mint-header-title {
      font-size: 18px !important; }

.hide_header {
  height: 0 !important;
  left: 0 !important; }

.input_group label {
  border-radius: 2px 0 0 2px;
  display: inline-block;
  height: 100%;
  vertical-align: top;
  text-align: center;
  line-height: 1.4;
  background: #fff;
  padding: 0 10px;
  box-sizing: border-box; }
  .input_group label .iconfont {
    font-size: 30px; }

.input_group .mint-field {
  border-radius: 0 2px 2px 0;
  display: inline-block;
  width: calc(100% - 50px); }

.home_page .home_swipe {
  height: 220px;
  margin-bottom: 1rem; }
  .home_page .home_swipe .item {
    height: 100%; }
    .home_page .home_swipe .item .img {
      width: 100%;
      height: 100%; }
    .home_page .home_swipe .item .tit {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      box-sizing: border-box;
      padding: 10px 44% 10px 4%;
      color: #fff;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      background: rgba(0, 0, 0, 0.2); }

.home_page .home_category {
  margin-bottom: 1rem;
  background: #fff;
  border-top: 1px solid #e6e6e6; }
  .home_page .home_category .item {
    padding: 1rem .5rem;
    text-align: center; }
    .home_page .home_category .item .logo {
      height: 46px; }
      .home_page .home_category .item .logo .img {
        width: 46px;
        height: 100%;
        border-radius: 5px; }
    .home_page .home_category .item .tit {
      margin-top: 5px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-size: 13px; }

.home_page .home_news {
  margin-bottom: 1rem;
  border-top: 1px solid #e6e6e6; }
  .home_page .home_news > .bd .item {
    height: 120px;
    position: relative;
    display: block;
    box-sizing: border-box;
    margin-bottom: 1rem; }
    .home_page .home_news > .bd .item .img {
      width: 100%;
      height: 100%;
      border-radius: 2px; }
    .home_page .home_news > .bd .item .tit {
      position: absolute;
      bottom: 0;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 13px;
      box-sizing: border-box;
      padding: .25rem .5rem;
      background: rgba(0, 0, 0, 0.25);
      color: #fff;
      width: calc(100% - 0.5rem); }
    .home_page .home_news > .bd .item:nth-child(odd) {
      padding-right: .5rem;
      left: 0; }
    .home_page .home_news > .bd .item:nth-child(even) {
      padding-left: .5rem;
      right: 0; }

.aside_full {
  top: 0 !important;
  right: 0 !important; }

.aside_nav, .aside_userStatus {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 170px;
  background: #434343;
  z-index: 0; }

.aside_nav {
  left: 0; }
  .aside_nav > .container .logo {
    height: 46px;
    box-sizing: border-box; }
    .aside_nav > .container .logo img {
      width: 100%;
      height: 100%; }
    .aside_nav > .container .logo .iconfont {
      font-size: 25px;
      line-height: 33px;
      float: left; }
    .aside_nav > .container .logo span {
      font-size: 17px;
      line-height: 33px;
      display: inline-block;
      padding-left: 10px; }
  .aside_nav > .container .nav > a {
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 1rem; }
    .aside_nav > .container .nav > a .iconfont {
      margin-right: 10px; }
  .aside_nav > .container .nav .router-link-exact-active {
    background: red;
    color: #fff; }

.aside_userStatus {
  right: 0; }
  .aside_userStatus > .tit {
    height: 46px;
    box-sizing: border-box;
    color: #87939a;
    line-height: 30px;
    padding: .5rem 1rem; }
  .aside_userStatus > .container .hd_avatar {
    position: relative;
    height: 130px;
    width: 100%;
    box-sizing: border-box;
    background: #5b6978;
    text-align: center;
    overflow: hidden; }
    .aside_userStatus > .container .hd_avatar .avatar_bg_blur {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-size: 100% !important;
      -webkit-filter: blur(5px);
      -o-filter: blur(5px);
      filter: blur(5px);
      opacity: .5; }
    .aside_userStatus > .container .hd_avatar .avatar_container {
      text-align: center; }
      .aside_userStatus > .container .hd_avatar .avatar_container .avatar_wrap {
        height: 70px;
        width: 70px;
        position: relative;
        margin: auto; }
        .aside_userStatus > .container .hd_avatar .avatar_container .avatar_wrap .avatar {
          width: 100%;
          height: 100%;
          border-radius: 100%;
          border: 4px solid #fff;
          position: absolute;
          left: 0;
          top: 1rem;
          z-index: 1; }
        .aside_userStatus > .container .hd_avatar .avatar_container .avatar_wrap .level {
          color: #fff;
          border-radius: 10px 0;
          position: absolute;
          top: 1rem;
          right: -30px;
          font-size: 12px;
          padding: 1px 10px;
          font-style: italic;
          z-index: 2; }
    .aside_userStatus > .container .hd_avatar .nick_name {
      position: absolute;
      bottom: 0;
      background: rgba(0, 0, 0, 0.25);
      width: 100%;
      box-sizing: border-box;
      padding: 1.5rem 1rem .5rem 1rem;
      color: #fff;
      text-align: center;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap; }
      .aside_userStatus > .container .hd_avatar .nick_name span {
        line-height: 18px;
        display: inline-block;
        vertical-align: top; }
  .aside_userStatus > .container .user_list {
    padding: 1rem;
    box-sizing: border-box; }
    .aside_userStatus > .container .user_list a {
      display: block;
      background: #2f373d;
      border-radius: 30px;
      width: 100%;
      box-sizing: border-box;
      padding: 7px;
      color: #87939a;
      margin-bottom: 1rem; }
      .aside_userStatus > .container .user_list a .iconfont {
        padding: 3px;
        background: rgba(0, 0, 0, 0.2);
        border-radius: 100%;
        margin-right: 8px; }

.aside_login {
  position: fixed;
  width: 100%;
  top: 46px;
  bottom: 0;
  right: -100%;
  z-index: 100;
  background-color: #2F373D;
  color: #87939a;
  transition: 0.25s all ease-out;
  -webkit-transition: 0.25s all ease-out;
  -moz-transition: 0.25s all ease-out; }
  .aside_login > .hd {
    padding: 2rem 0;
    width: 100%; }
    .aside_login > .hd > * {
      width: 32.3333%;
      display: inline-block;
      text-align: center;
      vertical-align: top; }
      .aside_login > .hd > * .iconfont {
        font-size: 35px;
        line-height: 80px; }
      .aside_login > .hd > * .logoImg {
        width: 80px;
        height: 80px; }
  .aside_login > .bd {
    padding: 1rem;
    box-sizing: border-box; }
    .aside_login > .bd .input_group {
      height: 42px;
      margin-bottom: 1rem; }
      .aside_login > .bd .input_group label {
        background: #252D33;
        color: #697279; }
        .aside_login > .bd .input_group label .iconfont {
          font-size: 20px;
          line-height: 2; }
      .aside_login > .bd .input_group input {
        height: 100%;
        border: none;
        padding: 0 1rem;
        box-sizing: border-box;
        display: inline-block;
        width: calc(100% - 50px);
        font-size: 16px;
        background: #293137;
        color: rgba(172, 183, 191, 0.5); }
      .aside_login > .bd .input_group button {
        width: calc(100% - .6rem);
        box-sizing: border-box;
        border: 1px solid #3D454B;
        background: #3D454B;
        padding: .5rem 0;
        font-size: 1rem;
        color: #777777; }
      .aside_login > .bd .input_group.line {
        text-align: center;
        height: 20px;
        border-bottom: 2px solid #3D454B;
        width: calc(100% - .6rem); }
        .aside_login > .bd .input_group.line .tit {
          position: relative;
          border-radius: 100%;
          background: #3D454B;
          bottom: -5px;
          color: #333;
          width: 30px;
          height: 30px;
          display: inline-block;
          line-height: 32px;
          font-size: 11px; }
    .aside_login > .bd .copy {
      padding: 0 1rem;
      font-size: 12px;
      text-align: center;
      margin: 20px 0;
      color: rgba(172, 183, 191, 0.3); }

.category_page .m_category {
  margin-bottom: 1rem; }
  .category_page .m_category > .hd {
    border-bottom: 1px solid #dcdfe6; }
  .category_page .m_category > .bd a {
    display: inline-block;
    font-size: 13px;
    padding: 3px 5px;
    margin: 0 5px 5px 0;
    border-radius: 2px; }
    .category_page .m_category > .bd a:hover, .category_page .m_category > .bd a.router-link-exact-active {
      background: #26a2ff;
      color: #fff; }

.category_page .m_category_post > .hd {
  border: solid #dcdfe6;
  border-width: 1px 0 1px 0; }

.post_page {
  padding-bottom: 70px; }
  .post_page .post_author {
    padding: .5rem 1rem;
    border-bottom: 1px solid #dcdfe6;
    background: #fff; }
    .post_page .post_author .avatar {
      float: left;
      height: 30px; }
      .post_page .post_author .avatar img {
        width: 30px;
        height: 100%;
        border-radius: 100%;
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.45);
        -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.45);
        -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.45); }
    .post_page .post_author .info {
      display: inline-block;
      font-size: 12px;
      vertical-align: top;
      padding-left: 10px;
      width: calc(100% -110px); }
      .post_page .post_author .info .timeLine {
        color: #a2a9ad; }
    .post_page .post_author .control {
      float: right;
      margin-top: 6px; }
      .post_page .post_author .control a {
        border: 1px solid #26a2ff;
        font-size: 12px;
        padding: 2px 10px;
        border-radius: 10px;
        color: #8b8b8b; }
  .post_page .normal_page .post_box {
    background: #fff;
    padding: .5rem 1rem;
    box-sizing: border-box;
    margin-bottom: 1rem; }
    .post_page .normal_page .post_box > .tit {
      text-align: center;
      overflow: hidden;
      text-overflow: ellipsis; }
    .post_page .normal_page .post_box > .features {
      background: #F8F8F8;
      padding: .5rem; }
      .post_page .normal_page .post_box > .features > .tit {
        float: left;
        font-size: 12px;
        height: 16px;
        line-height: 16px;
        padding: 1px 3px 0;
        margin-top: 3px;
        margin-right: 6px;
        overflow: hidden;
        border-radius: 0 3px 0 3px;
        background: #fcad30;
        color: #fff; }
      .post_page .normal_page .post_box > .features > .container {
        line-height: 1.8;
        color: #777; }
    .post_page .normal_page .post_box > .content {
      padding-top: 0.5rem; }
      .post_page .normal_page .post_box > .content img {
        max-width: 100%; }
  .post_page .gallery_page .introduce {
    background: #fff;
    padding: .5rem 1rem; }
    .post_page .gallery_page .introduce > .hd {
      border-bottom: 1px solid #dcdfe6; }
  .post_page .gallery_page .imgList > .hd {
    border: solid #dcdfe6;
    border-width: 1px 0; }
  .post_page .gallery_page .imgList > .bd {
    padding: 1rem !important; }
    .post_page .gallery_page .imgList > .bd .img {
      width: 100%;
      height: 100%; }
  .post_page .video_page .video_box {
    margin-bottom: 1rem; }
    .post_page .video_page .video_box .video_iframe iframe {
      width: 100%;
      height: 250px; }
    .post_page .video_page .video_box .info {
      padding: .5rem 1rem; }
      .post_page .video_page .video_box .info .content {
        margin-bottom: .5rem; }
  .post_page .post_info {
    text-align: right;
    padding-bottom: .5rem; }
    .post_page .post_info > * {
      display: inline-block;
      font-size: 12px;
      color: #a2a9ad; }

.comment_box {
  border-top: 1px solid #dcdfe6; }
  .comment_box > .hd {
    border-bottom: 1px solid #dcdfe6; }
    .comment_box > .hd .float-right {
      font-size: 12px;
      color: #777; }
      .comment_box > .hd .float-right .iconfont {
        margin-left: 5px;
        cursor: pointer; }
  .comment_box > .bd > .item {
    padding: .5rem 0;
    border-bottom: 1px solid #dcdfe6; }
    .comment_box > .bd > .item .avatar {
      float: left; }
      .comment_box > .bd > .item .avatar .img {
        width: 35px;
        height: 35px;
        border-radius: 100%; }
    .comment_box > .bd > .item .container {
      padding-left: 45px; }
      .comment_box > .bd > .item .container .author {
        margin-bottom: .2rem; }
        .comment_box > .bd > .item .container .author .nick_name {
          font-size: 14px;
          color: #7b7b7b; }
        .comment_box > .bd > .item .container .author .float-right {
          font-size: 12px;
          color: #bbb; }
  .comment_box > .bd .comment_empty {
    padding: .5rem 0;
    text-align: center;
    display: block; }
  .comment_box .reply_box {
    border-top: 1px solid #dfdfdf;
    background: #F8F8F8;
    position: fixed;
    bottom: -180px;
    width: 100%;
    box-sizing: border-box;
    transition: 0.3s all ease-out;
    -webkit-transition: 0.3s all ease-out;
    -moz-transition: 0.3s all ease-out; }
    .comment_box .reply_box > .hd {
      border-bottom: 1px solid #dcdfe6;
      padding: .5rem 1rem; }
    .comment_box .reply_box .reply_memu_wrap {
      padding: 1rem 1rem;
      transition: 0.3s all ease-out;
      -webkit-transition: 0.3s all ease-out;
      -moz-transition: 0.3s all ease-out; }
      .comment_box .reply_box .reply_memu_wrap .reply_tip {
        width: calc(100% - 58px);
        cursor: pointer; }
        .comment_box .reply_box .reply_memu_wrap .reply_tip .container {
          background: #fff;
          padding: 2px 10px;
          border: 1px solid #ccc;
          border-radius: 30px;
          color: #999; }
          .comment_box .reply_box .reply_memu_wrap .reply_tip .container .iconfont {
            margin-right: 5px; }
      .comment_box .reply_box .reply_memu_wrap li {
        display: inline-block;
        box-sizing: border-box; }
      .comment_box .reply_box .reply_memu_wrap .item {
        padding-left: 5px; }
        .comment_box .reply_box .reply_memu_wrap .item .iconfont {
          font-size: 20px;
          vertical-align: middle;
          cursor: pointer; }
    .comment_box .reply_box .reply_wrap .btm_extend {
      padding: 1rem 1rem; }
      .comment_box .reply_box .reply_wrap .btm_extend .reply_btn {
        float: right;
        background-color: #26a2ff;
        border: 1px solid #26a2ff; }

.share_pop > .hd {
  border-bottom: 1px solid #dcdfe6; }

.share_pop > .bd {
  margin-bottom: .5rem;
  display: flex;
  width: 100%;
  box-sizing: border-box; }
  .share_pop > .bd li {
    flex-grow: 1;
    vertical-align: top;
    margin-top: 5px;
    margin-right: 5px;
    width: 17.8%;
    box-sizing: border-box;
    text-align: center; }
    .share_pop > .bd li .iconfont {
      font-size: 30px;
      background: #f4f4f4;
      padding: 5px;
      border-radius: 2px; }
    .share_pop > .bd li p {
      margin-top: 5px;
      font-size: 12px; }
  .share_pop > .bd .-mob-share-qq .iconfont {
    color: #1da1f2; }
  .share_pop > .bd .-mob-share-weibo .iconfont {
    color: #e6162d; }
  .share_pop > .bd .-mob-share-qzone .iconfont {
    color: #ffce00; }
  .share_pop > .bd .-mob-share-douban .iconfont {
    color: #00b51d; }
  .share_pop > .bd .-mob-share-wechat .iconfont {
    color: #55a947; }

.share_pop .cancle_btn {
  border-top: 1px solid #ccc;
  padding: .5rem 0;
  text-align: center; }

.editor_page .p_editor {
  position: relative;
  margin-bottom: 1rem;
  padding-bottom: 1rem; }
  .editor_page .p_editor div.mce-edit-area {
    min-height: 500px; }
  .editor_page .p_editor .mce-tinymce {
    border-width: 0 1px 1px !important; }
  .editor_page .p_editor .mce-content-body img[data-mce-selected], .editor_page .p_editor .mce-content-body hr[data-mce-selected] {
    width: 100%; }
  .editor_page .p_editor textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    display: block;
    border: none;
    height: 505px; }

.editor_page .imgList {
  border-top: 1px solid #dcdfe6;
  width: 100%;
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #fff;
  padding: 1rem;
  overflow-x: hidden; }
  .editor_page .imgList img, .editor_page .imgList .van-uploader {
    display: inline-block;
    width: 80px;
    height: 80px;
    border-radius: 2px;
    border: 1px solid transparent;
    vertical-align: top;
    margin-right: 5px; }
  .editor_page .imgList .van-uploader {
    border: 1px dashed #dcdfe6;
    text-align: center;
    line-height: 80px; }

.editor_page .p_summary {
  margin-bottom: 1rem; }
  .editor_page .p_summary > .hd {
    border: 1px solid #dcdfe6; }

.editor_page .btm_extend > .hd {
  border: 1px solid #dcdfe6; }
  .editor_page .btm_extend > .hd .tip {
    float: right; }
    .editor_page .btm_extend > .hd .tip .iconfont {
      font-size: 13px;
      margin-right: 3px; }
    .editor_page .btm_extend > .hd .tip span {
      font-size: 12px; }

.editor_page .btm_extend > .bd {
  padding-bottom: .5rem; }
  .editor_page .btm_extend > .bd .item {
    margin-bottom: 1rem;
    cursor: pointer; }
    .editor_page .btm_extend > .bd .item > label, .editor_page .btm_extend > .bd .item > .tit {
      display: inline-block; }
    .editor_page .btm_extend > .bd .item .van-radio {
      padding-right: 10px; }
    .editor_page .btm_extend > .bd .item:last-child {
      margin-bottom: 0; }

.editor_page .update_btn {
  padding: 1rem;
  box-sizing: border-box; }
  .editor_page .update_btn .van-button {
    color: #fff;
    background: #26a2ff; }

.editor_page .editor_actionsheet .van-actionsheet__content {
  padding: 1rem; }
  .editor_page .editor_actionsheet .van-actionsheet__content .van-radio {
    padding-bottom: 1rem; }

.zone_page .zone_hd {
  position: relative;
  background: rgba(91, 105, 120, 0.5);
  overflow: hidden; }
  .zone_page .zone_hd .bg_mask {
    position: absolute;
    z-index: 4;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    -o-filter: blur(5px);
    opacity: .5;
    top: -10px;
    right: -10px;
    left: -10px;
    bottom: -10px;
    background-size: 100% !important;
    background-position: center !important; }
  .zone_page .zone_hd .user_info {
    padding-top: 60px;
    position: relative;
    z-index: 6; }
    .zone_page .zone_hd .user_info .user_line {
      width: 100%;
      height: 6px;
      background-color: rgba(255, 255, 255, 0.5); }
    .zone_page .zone_hd .user_info .user_container {
      background: rgba(255, 255, 255, 0.8); }
      .zone_page .zone_hd .user_info .user_container .user_avatar {
        width: 80px;
        height: 80px;
        position: absolute;
        top: 35px;
        left: 20px; }
        .zone_page .zone_hd .user_info .user_container .user_avatar img {
          width: 100%;
          height: 100%;
          border-radius: 100%;
          border: 2px solid #fff; }
      .zone_page .zone_hd .user_info .user_container .user_info {
        padding: .5rem 1rem .5rem 120px; }
        .zone_page .zone_hd .user_info .user_container .user_info .nick_name {
          font-size: 20px; }
        .zone_page .zone_hd .user_info .user_container .user_info .sign {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap; }
      .zone_page .zone_hd .user_info .user_container .user_control {
        padding: 0 1rem  .5rem  20px;
        text-align: right; }
        .zone_page .zone_hd .user_info .user_container .user_control li {
          display: inline-block;
          cursor: pointer;
          margin-left: 5px;
          border: 1px solid;
          border-radius: 2px;
          padding: 1px 5px; }
          .zone_page .zone_hd .user_info .user_container .user_control li .iconfont {
            margin-right: 3px; }
        .zone_page .zone_hd .user_info .user_container .user_control .follow {
          color: #f36478; }
        .zone_page .zone_hd .user_info .user_container .user_control .message {
          color: #16aad8; }
        .zone_page .zone_hd .user_info .user_container .user_control .pcount {
          float: left;
          width: 90px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          text-align: center; }

.zone_page .zone_nav {
  display: flex;
  padding: 0 1rem;
  margin-bottom: 1rem;
  box-sizing: border-box;
  background: #fff; }
  .zone_page .zone_nav a {
    flex-grow: 1;
    text-align: center;
    padding: .5rem 5px;
    box-sizing: border-box;
    border-bottom: 2px solid transparent; }
    .zone_page .zone_nav a.router-link-exact-active {
      border-bottom: 2px solid #f36478; }

.zone_page .zone_container > .home_wrap .user_info {
  margin-bottom: 1rem; }
  .zone_page .zone_container > .home_wrap .user_info > .hd {
    border: solid #dcdfe6;
    border-width: 1px 0; }
  .zone_page .zone_container > .home_wrap .user_info > .bd {
    padding-bottom: .5rem; }
    .zone_page .zone_container > .home_wrap .user_info > .bd .item {
      margin-bottom: .5rem; }
      .zone_page .zone_container > .home_wrap .user_info > .bd .item .iconfont {
        margin-right: 5px;
        font-size: 20px; }
      .zone_page .zone_container > .home_wrap .user_info > .bd .item:last-child {
        margin-bottom: 0; }
      .zone_page .zone_container > .home_wrap .user_info > .bd .item span {
        vertical-align: text-bottom;
        line-height: 19px; }

.zone_page .zone_container > .home_wrap .post_data > .hd {
  border: solid #dcdfe6;
  border-width: 1px 0; }

.zone_page .zone_container > .home_wrap .post_data > .bd a {
  display: block;
  padding-bottom: .5rem; }
  .zone_page .zone_container > .home_wrap .post_data > .bd a:hover {
    color: #26a2ff; }

.zone_page .zone_container > .post_wrap .post_line > .hd {
  border: solid #dcdfe6;
  border-width: 1px 0; }

.zone_page .zone_container > .post_wrap .post_line > .bd {
  padding: 1.5rem 1rem 1rem 1rem; }
  .zone_page .zone_container > .post_wrap .post_line > .bd .item {
    position: relative; }
    .zone_page .zone_container > .post_wrap .post_line > .bd .item .post_info {
      padding: 1.2rem  1rem;
      border-left: 2px solid silver; }
      .zone_page .zone_container > .post_wrap .post_line > .bd .item .post_info .tit {
        font-weight: bold; }
      .zone_page .zone_container > .post_wrap .post_line > .bd .item .post_info .btm {
        font-size: 12px;
        color: #999;
        padding-top: .5rem; }
        .zone_page .zone_container > .post_wrap .post_line > .bd .item .post_info .btm > div {
          display: inline-block; }
      .zone_page .zone_container > .post_wrap .post_line > .bd .item .post_info a:hover {
        color: #26a2ff; }
    .zone_page .zone_container > .post_wrap .post_line > .bd .item .circle {
      position: absolute;
      top: calc(50% - 10px);
      left: -9px;
      background: #fff;
      width: 20px;
      height: 20px;
      border-radius: 100%;
      z-index: 1; }
      .zone_page .zone_container > .post_wrap .post_line > .bd .item .circle i {
        position: absolute;
        width: 10px;
        height: 10px;
        background: silver;
        border-radius: 100%;
        top: calc(50% - 5px);
        left: calc(50% - 5px); }
    .zone_page .zone_container > .post_wrap .post_line > .bd .item:hover .circle i {
      color: #26a2ff; }
  .zone_page .zone_container > .post_wrap .post_line > .bd .start_circle {
    margin-bottom: -10px; }
    .zone_page .zone_container > .post_wrap .post_line > .bd .start_circle i {
      top: -1rem;
      border: 2px solid #26a2ff; }
      .zone_page .zone_container > .post_wrap .post_line > .bd .start_circle i:after {
        content: '';
        position: absolute;
        left: calc(50% - 1px);
        bottom: -12px;
        width: 2px;
        height: 12px;
        background: #26a2ff; }
  .zone_page .zone_container > .post_wrap .post_line > .bd .end_circle i {
    top: 0;
    border: 2px solid silver; }
  .zone_page .zone_container > .post_wrap .post_line > .bd .start_circle, .zone_page .zone_container > .post_wrap .post_line > .bd .end_circle {
    position: relative;
    width: 100%;
    height: 1px; }
    .zone_page .zone_container > .post_wrap .post_line > .bd .start_circle i, .zone_page .zone_container > .post_wrap .post_line > .bd .end_circle i {
      position: absolute;
      left: -5px;
      background: #fff;
      width: 8px;
      height: 8px;
      z-index: 4;
      border-radius: 100%; }

.zone_page .zone_container > .info_wrap .user_info > .bd .item {
  margin-bottom: .5rem; }
  .zone_page .zone_container > .info_wrap .user_info > .bd .item span {
    margin-right: 5px; }

.profile_page .user_nav {
  margin-top: 1rem;
  padding: .5rem 1rem;
  background: #fff;
  box-sizing: border-box; }
  .profile_page .user_nav a {
    display: block;
    padding: .5rem; }
    .profile_page .user_nav a .iconfont {
      font-size: 20px;
      vertical-align: middle;
      margin-right: 5px; }

.profile_page .information_wrap .user_info {
  padding-bottom: 1rem; }

.profile_page .portrait_wrap .portrait_container {
  background: #fff;
  padding: 2rem 1rem;
  text-align: center; }
  .profile_page .portrait_wrap .portrait_container .avatar {
    width: 100px;
    height: 100px;
    margin: auto;
    border-radius: 5px; }
    .profile_page .portrait_wrap .portrait_container .avatar img {
      width: 100%;
      height: 100%; }
  .profile_page .portrait_wrap .portrait_container .tip {
    font-size: 12px; }

.profile_page .financial_wrap .financial_balance > .hd {
  border: solid #dcdfe6;
  border-width: 1px 0; }
  .profile_page .financial_wrap .financial_balance > .hd .charge_btn {
    background: #26a2ff;
    color: #fff; }

.profile_page .financial_wrap .financial_balance > .bd > .left .credit, .profile_page .financial_wrap .financial_balance > .bd > .left .charge {
  display: inline-block;
  margin: 1rem 0;
  padding: 0 1rem; }
  .profile_page .financial_wrap .financial_balance > .bd > .left .credit b, .profile_page .financial_wrap .financial_balance > .bd > .left .charge b {
    font-size: 20px;
    margin-right: 5px; }

.profile_page .financial_wrap .financial_balance > .bd > .left .credit {
  border-right: 1px solid #dcdfe6; }

.profile_page .financial_wrap .financial_info > .hd {
  border: solid #dcdfe6;
  border-width: 1px 0; }

.profile_page .financial_wrap .financial_info > .bd .tip {
  padding: .5rem;
  margin-bottom: 1rem;
  background: #f4f4f5;
  color: #999;
  font-size: 12px; }

.profile_page .collect_wrap .collect_container .van-tabs--card {
  padding-top: 75px; }

.profile_page .collect_wrap .collect_container .van-tabs__wrap {
  padding: 1rem;
  background: #fff; }
  .profile_page .collect_wrap .collect_container .van-tabs__wrap .van-tabs__nav--card {
    border: 1px solid #26a2ff; }
    .profile_page .collect_wrap .collect_container .van-tabs__wrap .van-tabs__nav--card .van-tab {
      color: #26a2ff;
      border-right: 1px solid #26a2ff; }
      .profile_page .collect_wrap .collect_container .van-tabs__wrap .van-tabs__nav--card .van-tab:last-child {
        border-right: none; }
    .profile_page .collect_wrap .collect_container .van-tabs__wrap .van-tabs__nav--card .van-tab.van-tab--active {
      background-color: #26a2ff;
      color: #fff; }

.profile_page .collect_wrap .collect_container .van-tabs__content {
  background: #fff; }
  .profile_page .collect_wrap .collect_container .van-tabs__content .item {
    padding: .5rem;
    box-sizing: border-box;
    border-bottom: 1px solid #eee; }
    .profile_page .collect_wrap .collect_container .van-tabs__content .item .iconfont {
      color: #999; }
    .profile_page .collect_wrap .collect_container .van-tabs__content .item span {
      line-height: 25px;
      vertical-align: top;
      margin-left: 10px; }
    .profile_page .collect_wrap .collect_container .van-tabs__content .item .van-cell__value {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }

.lost_page .m_lost {
  text-align: center;
  padding: 130px 0; }
  .lost_page .m_lost img {
    width: 100px;
    height: 100px; }
  .lost_page .m_lost .tip {
    font-size: 12px;
    color: #999; }

.lost_page .post_recommend > .hd {
  border: solid #dcdfe6;
  border-width: 1px 0; }
