.category_page {
    margin-top: - ($header_height - 1rem);
    width: 100%;
    &>.hd {
        width: 80%;
        font-size: 1rem;
        padding: 2rem 0;
        text-align: center;
        margin:auto;
        height: 0;
        border-bottom: 1px solid $border_color;
        margin-bottom: 2rem;
        .tit {
            font-family: Tahoma,Helvetica,'SimSun',sans-serif;
            background-color: #f0f0f0;
            font-weight: bold;
            position:relative;
            font-size: 2em;
            padding: 0 20px; 
            top: 10px;
            display: inline-block;
        }
    }
    &>.bd {
        min-height: 400px;
        .post_sm_item {
                padding: 1rem 0;
                .container {
                    perspective:2000px;
                    .item {
                        &:hover {
                            .hd {
                                img {opacity: .8;}
                            }
                        }
                    }
                }
        }            
    }
}
//------屏幕配适高度自适应------
@media screen and (min-width: 1200px) {
    //帖子层
    .category_page{
        &>.bd {
            .post_sm_item {
                .item {
                    width: 20%;
                }
            }
        }
    }
}
@media screen and (min-width:992px) and (max-width:1200px){
    //帖子层
    .category_page{
        &>.bd {
            .post_sm_item {
                .item {
                    width: 20%;
                }
            }
        }
    }
}
@media screen and (min-width:768px) and (max-width:991px){
    //帖子层
    .category_page{
        &>.bd {
            .post_sm_item {
                .item {
                    width: 25%;
                    .info {
                        max-width: 150px;
                    }
                }
            }
        }
    }

}
@media screen and (max-width:767px){
    //帖子层
    .category_page{
        &>.bd {
            .post_sm_item {
                .item {
                    width: 50%;
                    .hd {
                        .img {height: 100px !important;}
                    }
                }
            }
        }
    }
}