
//主体
.login_page {
    font-size: 10px;
    margin-top: -1.5rem;
    &>.hd {height: 270px;background-color:$hub_2;width: 100%;box-sizing: border-box; }
    &>.bd {
            width: 100%;   
            box-sizing: border-box; 
            position: relative;  
            height: 265px;
            perspective: 1000px;
            .register_box,.forget_box {
                visibility: hidden;
                opacity: 0;
                transform: rotateX(-90deg);
                -webkit-transform: rotateX(-90deg);
                -moz-transform: rotateX(-90deg);
                top: -170px;
            }
            .login_box {
                opacity: 1;
                visibility: visible;                
                top:-170px;;
            }
            .register_box {
                top: -235px;
            }
            .login_box,.register_box,.forget_box {   
                @include transition (0.3s,ease-in-out);
                box-shadow: 0 0 2px rgba(0,0,0,0.15);
                border-radius: 2px;         
                position: absolute;
                font-size: 1.4em;
                background-color: #fff;  
                .title {
                    padding: 1rem;
                    text-align: center;
                    font-size: 1.6em;
                    color: $hub_2;
                }
                .login_btn {
                    width: 60%;
                    border-radius: 2px;
                    margin: .5rem auto;
                    padding: .8rem 0;
                    text-align: center;
                    background-color: $hub_2;
                    border-color: $hub_2 ;
                    color: #fff;
                }
                .btm_nav {
                    width: 90%;
                    margin:1rem auto;
                    text-align: center;
                    .iconfont {
                        display: inline-block;
                        vertical-align: text-bottom;
                    }
                    .circle-left,.circle-right {display: none;}
                    button {
                       color: $hub_2; 
                    }
                }
            }

        }
        .input,{width: 60%;margin:1rem auto;} 
        .input-line-animation {padding-top: 1rem;}
    .login_card {
        width: 400px;
        // height: 261px;
        padding: 20px 40px 40px 40px;
        margin: 100px  auto;
        background: #fff;
        border-radius:5px;
        box-shadow: 1px 0 2px rgba(0,0,0,.1); 
        .el-tabs__nav {
            width: 100%;
            box-sizing: border-box;
            .el-tabs__active-bar {
                background-color: $hub_1 !important;
            }
            .el-tabs__item {
                width: 50%;
                text-align: center;
                box-sizing: border-box;
                color: #7b7b7b;
                &.is-active {
                    color:$hub_1 !important;
                }
            }            
        }
        .el-tabs__content {
            // padding:  0 20px 20px 20px;
            .config_btn {
                width: 100%;
                background: $hub_1;
                color: #fff;
            }
        }
    }
}
//反转动作
.rotateToShow {
    opacity: 1 !important;
    transform: rotateX(0deg) !important;
    -webkit-transform: rotateX(0deg) !important;
    -moz-transform: rotateX(0deg) !important;
    visibility: visible !important;
}
.rotateToHide {
    transform: rotateX(-90deg);
    -webkit-transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);
    opacity: 0;
    visibility: hidden !important;

}
//匹配屏幕
@media screen and (max-width:767px){
    .login_page {
        &>.bd {
            perspective: 0px;
            height: 295px;
            .login_box {
                .icon-zuojiantou,.icon-jiantou {
                    display: none;
                }
                .circle-left,.circle-right {
                    display: inline-block !important;
                }
            }
        }             
    }

}