$footer_hd_bg:#fff;
.footer {
    padding: 1rem 0;
    background: #fff;
    margin-bottom: .25rem;
    .info,.app {
        padding: 0 2rem;
        font-size: 10px;
        &>div {padding: 0 0 0.5rem 0;}
        &>.tit {
            font-weight: 700;
            color: #333;
            font-size: 14px;
        }
    }
    .info {
        .introduce {
            margin-bottom: 1rem;
            &::first-letter {padding-left: 10px;}
        }
        .link {
            a {
                display: inline-block;
                padding:0 10px;
                box-sizing: border-box;
                &:first-child {padding: 0 10px 0 0;}
            }
        }
    }
    .app {
        &>.bd {
            .item {
                display: inline-block;
                .img {width: 100%;height: 100%;}
                &>.tit {
                    text-align: center;
                } 
            }
        }
    }
}
//屏幕配适
@media screen and (max-width: 767px){
    .footer {
        .info {
            margin-bottom: 1.5rem;
        }
        .app {
            &>.bd {
                .item {
                    width: 49%;
                    box-sizing: border-box;
                }
            }
        }
    }
}