//函数


//主体
.post_page {
    //标准模板
    &>.normal_page {
        padding:0 1rem;
        //左侧
        &>.comment_wrap {
            padding:0 .5rem 0 .5rem;
            .post {
              padding: 2rem;
              margin-bottom: 1rem;
              &>.tit {font-size: 18px;color: #000;}  
              &>.info {
                  line-height: 25px;
                  font-size: 13px;
                  letter-spacing: 1px;
                  .category {
                      display: inline-block;
                      color: $hub_4;
                  }
              }
              &>.content {
                  padding-top:1.5rem; 
                  img {max-width:100%;}
              }
              &>.btm {
                  margin-top: 2rem;                      
                  .like {  
                    text-align: center;     
                      &>.hd {
                        display: inline-block;                   
                        padding:15px;
                        border:1px solid $border_color;
                        border-radius: 5px;
                          .fa {
                              font-size: 40px;
                          }
                      }
                  }
                }
            }
        }
        //右侧
        &>.aside {
            padding:0 .5rem;
        }
    }
    //相册版
    &>.gallery_page {
        margin:auto;
        padding:0 1rem;
        &>.article {
            font-size: 14px;
            border-radius: 2px;
            overflow: hidden;
            margin-bottom: 1rem;
            @include transition();
            &>.left {               
                position: relative;
                border-radius:2px 0 0 2px;
                .current_img {
                    width: 100%;
                    height: 100%;
                }
                .sn {
                    position: absolute;
                    z-index: 10;
                    padding: .5em;
                    top: 0;
                    left: 0;
                    i {
                        position: relative;
                        font-size: 50px;
                        top: 5px;
                        padding-left: .4em;
                        
                    }
                    .total {
                        vertical-align: middle;
                        font-size: 1.5em;
                        font-weight: bolder;
                    }
                }
                .el-carousel__indicators {
                    position: absolute;
                    top: 0;
                    left: 0.715em;
                    text-align: left !important;
                    .el-carousel__indicator {
                        opacity: 0;
                        visibility: hidden;
                        position: absolute;
                        left: 0;
                        .el-carousel__button {
                            background: transparent !important;
                            padding: 0 !important;
                            font-size: 2em;
                            color: $hub_1;
                        }
                    }
                    .is-active {
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }
            &>.right {
                background: #fff;
                .tit {
                    margin: 1.5em 0;
                    color: #fff;
                    padding: .5em 1.5em .5em .5em;
                    background: #25b865;
                    font-size: 1.5em;
                    display: inline-block;
                    border-radius: 0 2px 2px 0;
                    box-sizing: border-box;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
                .content {
                    box-sizing: border-box;
                    padding:0 1.5rem;
                    margin-bottom: 1rem;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                .widget_post {
                    margin-bottom: 0 !important;
                    padding: 0 1.5rem !important;
                    &>.post_info {
                        font-size: 0;
                        border-bottom: 0 !important;
                        li {
                            display: inline-block;
                            font-size: 14px;
                            width: 50%;
                            &:nth-child(3),&:nth-child(4){
                                border-top:1px  solid $border_color;
                                padding-top: .5rem;
                                margin-top:.5rem;
                            }
                        }
                    }
                }
            }            
        }
        .carousel_sn {
            padding-left: .7em !important;
        }
        .btm_extend {
            &>.left {
                padding-right: .5rem;
            }
            &>.right {
                padding-left: .5rem;
            }
        }

    }
    //视频版
    &>.video_page {
        .video_container {
            margin-bottom: 1rem;
            padding: 0 1rem;
            @include transition();
            .video_wrap {
                border-radius: 2px;
                overflow: hidden;
                .video_ifram {
                    height: 500px;
                    iframe {
                        width: 100%;
                        height: 100%;
                        background: #fff;              
                    }  
                }
            }
            .video_introduce {
                padding:1rem 1.5rem;
                box-sizing: border-box;
                background: #fff;
                font-family:Tahoma,Helvetica,'SimSun',sans-serif;
                .descript {
                    padding-bottom: 10px;
                    margin-bottom: 1rem;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    box-sizing: border-box;
                    line-height: 30px;
                    color: #333;
                    font-weight: 600;
                    border-bottom: 1px solid #ededed;
                    b {
                        color: #fff;
                        margin-right: 10px;
                        background: #FF5A49;
                        display: inline-block;
                        height: 20px;
                        line-height: 20px;
                        padding: 0 15px;
                        font-size: 14px;
                        border-radius: 24px;
                        font-weight: 600;
                    }
                    .content {
                        white-space: normal;
                    }
                    &:last-child {
                        border-bottom: none;
                        margin-bottom: 0;
                        padding-bottom: 0;
                    }
                }
                .introduce {
                    height: 240px;
                }
            }
        }  
        .btm_extend {
            padding: 0 1rem;         
        }  
    }
    //公用
    .btm_extend {
        &>.comment_wrap {
            padding-right: .5rem;
        }
        &>.aside {
            padding-left: .5rem;
            .widget_share {
                padding: 18px 1rem;
                background: #fff;
                margin-top: -1.5rem;
                margin-bottom: 1rem;
                position: relative;
                &::before {
                    position: absolute;
                    display: block;
                    top: 0;
                    border-top: 1px solid $border_color;
                    content:'';
                    width: 90%;
                    height: 2px;

                }
            }
        }
    }
    //作者信息&&文章信息
    .widget_author,.widget_post {
        padding: 1.5rem;
        box-sizing: border-box;
        background: #fff;
        margin-bottom: 1rem;
    }
    //文章信息
    .widget_post {
        border-radius: 2px;
                &>.post_info {
                    padding-bottom: .5rem;
                    margin-bottom: 1rem;
                    border-bottom: 1px solid $border_color;
                    li {
                        box-sizing: border-box;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        line-height: 25px;
                        i {width: 20px;display: inline-block;}
                    }
                }
    }
    .widget_share {
        border-radius: 2px;
        li {
            display: inline-block;
            border: 1px solid $border_color;
            padding:4px 6px;
            width: 31%;
            box-sizing: border-box;
            border-radius: 2px;
            text-align: center;
            cursor: pointer;
            &:nth-child(2) {margin: 0 10px;}
            .iconfont {display: inline-block;}
            .icon-web-icon- {color: #1da1f2;} //qq
            .icon-weibo {color: #e6162d;}//weibo
            .icon-kongjian  {color: #ffce00;}//kongjian
            span {display: inline-block;line-height: 20px;vertical-align: top;margin-left: .5rem;}
        }
    }
    //最新文章
    .latest_post {
        margin-bottom: 1rem;
        &>.tit {
            margin: auto;
            width: 70%;
            font-size: 20px;
            border-bottom:1px solid $border_color;
            text-align: center;
            span {
                position: relative;
                bottom: -12px;
                background: $body_color;
                padding: 5px 20px;
            }
        }
        &>.bd {
            margin:1.5rem -0.5rem 0 -0.5rem;
            .item {
                padding:0.5rem;
                .container {
                    border:1px solid $border_color;
                    border-radius: 2px;
                    display: block;
                    position: relative;
                    background: #fff;
                    padding: .5rem;
                    &>.hd {
                        border-radius: 2px 2px  0 0;      
                        height: 9rem;                      
                        .thumb {width: 100%;height: 100%;}
                    }                    
                    &>.bd {
                        padding:.5rem;
                        box-sizing: border-box;
                        .title {
                            margin-bottom: .5rem;
                            font-size: 17px;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
    
                        }            
                        .btm {
                            text-align: center;
                            margin-top:1rem;
                            button {
                                padding: .625rem 1.25rem;
                            }
                        }
                        &::before {
                            content: "";
                            position:absolute;
                            top: 10rem;
                            left: 0;
                            width: 4px;
                            border-radius: 0 2px 2px 0;
                            height: 1.6rem;
                            background: $hub_1;
                        }
                    }
                    &:hover {
                        .hd {
                            &::before {
                                background-image: none;
                            }
                        }
                        .btm button {
                            border: 1px  solid $hub_1;
                            background: $hub_1;
                            color: #fff;
                        }
                    }
    
    
                } 
            }
        }
    }
    //作者信息
    .widget_author {
        border-radius: 2px;
        .avatar {
            &:hover {
                img {opacity: .8;}
            }
        }
        .container {
            display: block;
            padding-left: 100px;
            .item {
                margin: 5px 0;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                .iconfont {width: 20px;display: inline-block;}
            }
            .follow {border: 1px solid $hub_4;background: $hub_4;color: #fff;padding: 4px 8px;border-radius: 2px;margin-top: 10px;cursor: pointer;}
        }
    }
} 

//评论列表
.post_comment {
    margin-bottom: 1rem;
    border-radius: 2px;
    background: #fff;
    &>.hd {
        width: 100%;
        padding:0 1rem;
        box-sizing: border-box;
        .tip {
            text-align: center;
            padding: 16px;
            font-size: 18px;
        }
        .item  {
            padding: 0.625rem 0;
            margin: 0 1rem;
            border-bottom: 1px  solid $border_color;
            .avatar {
                float: left;
                vertical-align: top;
                border-radius: 100%;
            }
            .info {
                width: 100%;
                padding-left: 61px;
                box-sizing: border-box;
                .hd {
                    height: 20px;
                    .nick_name {margin-right: 1rem;font-weight: bold;font-size: 15px;float: left;}
                    .badge {margin-right: 0.5rem;float: left;margin-top:3px;}                    
                }
                .bd {
                    padding:0.625rem 0;
                }
                .btm {
                    text-align: right;
                    padding-bottom: 1rem;
                    
                }

            }
        }
        //评论框
        .comment_reply {
            box-sizing: border-box;
            padding:0 1rem 1rem;
            width: 100%;
            .btm {
                margin-top: 1rem;
                .update_btn {
                    float: right;
                    color: #fff;
                    background-color: $hub_2;
                    border-color: $hub_2 !important;
                    &:hover,&:focus {
                        border-color: $hub_2 !important;
                        opacity: .8;
                    }
                }                
            }
        }
    }
}
//分页符
.post_pagination {
    margin: 3rem 0;
    .el-pagination {
        text-align: center;
        li {
            &.active {
                background: $hub_2;
                border: 1px solid $hub_2;
            }            
        }

    }
}
@media screen and (min-width:1200px){
    .post_page {
        &>.gallery_page {
            padding:0 !important;
            &>.article {
                height: 600px;
                .content {
                    height: 390px;
                }
            }
        }
        &>.video_page {
            .video_container {
                padding: 0 ;
            }
            .btm_extend {
                padding: 0 !important;
            }
        }
    }
}
@media screen and (min-width:992px) and (max-width:1199px){
    .post_page {
        &>.gallery_page {
            &>.article {
                height: 500px;
                .content { 
                    height: 290px !important;
                }
            }
        }
    }
}
@media screen and (min-width:768px) and (max-width:991px){
    .post_page {
        &>.gallery_page {
            &>.article {
                height: 400px;
                .content {height: 193px !important;}
            }
        }
    }
}
@media screen and (max-width:767px){
.post_page {
    &>.gallery_page {
        &>.article {
            &>.left {
                height: 400px;
                border-radius: 2px;
                padding: 1rem;
                background: #fff;
                box-sizing: border-box;
                .el-carousel {
                    border-radius: 2px;
                }
                .sn {
                    margin: 15px;
                }
            }
            &>.right {
                margin: 1rem 0;
                border-radius: 2px;
                .content {
                    height: unset;
                }
            }
        }
    }
    &>.video_page {
        .video_container {
            .video_wrap {
                border-radius: 2px;
                overflow: hidden;
                margin-bottom: 1rem;
                .video_ifram {
                    height: 300px;
                }
            }
            .video_introduce {
                border-radius: 2px;
            }
        }

    }
    .btm_extend {
        &>.comment_wrap,&>.aside {
            padding: 0 !important;
        }
    }
}
}
@media screen and (max-width:319px){
    .el-pager li,.btn-next,.btn-prev {
        margin:0  2px !important; 
    } 
}