$font_color:#4C4C4C;
$body_color:#F8F8F8;
$hub_1:#26a2ff;
// $hub_2:#93b5cf;
$hub_2:#005792;
// $hub_3:#1781b5;
$hub_3:#26baee;


.mint-header {
    // height: 50px !important;
    z-index: 10;
    .mint-header-title {
        color: #fff !important;
        font-size: 25px !important;
    }   
    .iconfont {
        font-size: 30px;
    } 
}
.van-swipe {
    .van-swipe__indicators {
        left: auto !important;
        right: -5px;
        z-index: 0;        
    }
}
.van-toast {
    top: 3rem !important;
    background-color: #1d80ec !important;
    ms-flex-direction: row !important;
    flex-direction: row !important;
    justify-content: left !important;
    @include box-shadow(1px 3px 3px rgba(0,0,0,.1));
    // opacity: .9;
    .van-toast__text {
       float: left;
       padding-top: 0 !important;
    }
}
.van-toast--default .van-toast__icon {
    font-size: 25px !important;
    float: left;
    margin-right: 10px;
}
.van-toast--default {
    width: 50% !important;
    min-height: unset !important; 
}

////
html {
       overflow-x: hidden; 
}
html,#app {
    position: relative;
    height: 100%;
    width: 100%;
}
body {
    color: $font_color;
    position: relative;
    width: 100%;
    height: 100%;
}