$body_color:#F8F8F8;
$hub_1:#26a2ff;


.m_header {
    background: $hub_1;
    position: relative;
    z-index: 5;
    .mint-header {
        height: 46px;
        top: 0;
        left: 0;
        @include transition($time:.25s,$function:ease-out);
        background: none;
        color: #fff;
        overflow: hidden;
        .iconfont {font-size: 25px;}
        .mint-header-title {font-size: 18px !important;}
    }
}
.hide_header {
    height: 0 !important;
    left: 0 !important;
}

