

.input_group {   
    label {
        position: relative;
        height: 100%;
        border-radius:2px 0 0 2px; 
        display: inline-block;
        vertical-align: top;
        text-align: center;
        // line-height: 1.4;
        padding: 0 10px;
        box-sizing: border-box;
        background: #fff;
        border:solid $border_color;
        border-width: 1px  0 1px 1px ;
        .iconfont {
            font-size: 30px;
            line-height: 2.2;
            &::after {
                content: '';
                position: absolute;
                top: 20%;
                right: 0;
                height: 60%;
                width: 1px;
                background: $border_color;
            }
        }

    }
    input {
        border:solid $border_color;
        border-width: 1px  1px 1px 0 ; 
        padding-left: 1rem;
        box-sizing: border-box;
        display: inline-block;
        width: calc(100% - 41px);
        font-size: 16px;
        height: 100%;
        color: rgba(172,183,191,.5);
    }
    .mint-field {
        border-radius: 0 2px 2px 0;
        display: inline-block;
        width: calc(100% - 50px);
        border:solid $border_color;   
    }
}
//-------以上为公共类-----



//侧边栏
.aside_full {
    top: 0 !important;
    right: 0 !important;
    opacity: 1 !important;
    z-index: 100 !important;
}
.aside_nav,.aside_userStatus {
    top: 0;
    bottom: 0;
    width: 170px;    
    background: $hub_2;
    z-index: 0;
    z-index: 0;
    box-sizing: border-box;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    position: absolute;
    top: 0;
    height: 100%;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    -webkit-transition-duration: .4s;
    transition-duration: .4s;
}
.aside_nav {
    left:0;  
        &>.container {
        .nav {
            &>a {
                display: block;
                width: 100%;
                box-sizing: border-box;
                padding: .85rem;
                color: #fff;
                .iconfont {
                    margin-right: 10px;
                }
            }
            .router-link-exact-active {
                background: $hub_3;
                color: #fff;
            }
        }
    } 
}
.aside_userStatus {
    right: 0;
    color: #fff;
    &>.tit {
        height: 46px;
        box-sizing: border-box;
        line-height: 30px;
        padding: .5rem 1rem;
    }
    &>.container {
        .hd_avatar {
            position: relative;
            height: 130px;
            width: 100%;
            box-sizing: border-box;
            background: #5b6978;
            text-align: center;
            overflow: hidden;
            .avatar_bg_blur {
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                background-size: 100% !important;
                -webkit-filter: blur(5px);
                -o-filter: blur(5px);
                filter: blur(5px);
                opacity: .5;
            }
            .avatar_container {
                text-align: center;            
                .avatar_wrap {
                    height: 70px;
                    width: 70px; 
                    position: relative;
                    margin: auto;
                    .avatar {
                        width: 100%;
                        height: 100%;
                        border-radius: 100%;
                        border: 4px solid #fff;
                        position: absolute;
                        left: 0;
                        top:1rem;
                        z-index: 2;
                    }
                    .level {
                        color: #fff;
                        border-radius:0 8px 8px 0; 
                        position: absolute;
                        bottom: -1.1rem;
                        right: -33px;
                        font-size: 12px;
                        padding: 1px 10px;
                        font-style: italic;
                        z-index: 2;
                        mix-blend-mode:soft-light;
                    }
                }
            }
            .nick_name {
                position: absolute;
                bottom: 0;
                background: rgba(0,0,0,0.25);
                width: 100%;
                box-sizing: border-box;
                padding: 1.5rem 1rem .5rem 1rem;
                color: #fff;
                text-align: center;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                span {
                    line-height: 18px;
                    display: inline-block;
                    vertical-align: top;
                }
            }
        }
        .user_list {
            padding:1rem;
            box-sizing: border-box;
            a {
                display: block;
                background: $hub_3;
                border-radius: 30px;
                width: 100%;
                box-sizing: border-box;
                padding: 7px;
                color: #fff;
                margin-bottom: 1rem;
                .iconfont {
                    display: inline-block;
                    // padding: 3px;
                    // background: rgba(0,0,0,.2);
                    // border-radius: 100%;
                    margin-right: 8px;
                    font-size: 19px;
                }
                span {
                    vertical-align: top;
                    display: inline-block;
                }
            }
        }
    }
}
.aside_login {
    position: absolute;
    width: 100%;
    top: 47px;
    bottom: 0;
    right: -100%;
    z-index: 0;
    background-color: #fff !important;
    color: #87939a;
    @include transition($time:.25s,$function:ease-out);
    &>.hd {
        padding: 3rem 0;
        width: 100%;
        background: $hub_3;
        &>* {
            width: 32.3333%;
            display: inline-block;
            text-align: center;
            vertical-align: top;
            .iconfont {
                font-size: 35px;
                line-height: 80px;
                color: #fff;
            }
            .logoImg {width: 80px;height: 80px;}
        } 
    }
    &>.bd {
        padding: 3rem 1rem 1rem 1rem;
        box-sizing: border-box;
        .input_group {
            height: 42px;
            margin-bottom: 1rem;
            label { 
                .iconfont {font-size: 20px;}
            }
            button {
                box-sizing: border-box;
                padding: .5rem 0;
                font-size: 1rem;
                color: #fff;
                display: inline-block;
            }
            .login_btn {
                width: 60%;
                margin-right: 3%;
                border: 1px solid $hub_1;
                background: $hub_1;
            }
            .forget_btn {
                width: 37%;
                background: #E4E4E4;
                border: 1px solid #E4E4E4;
            }
            &.line {
                text-align: center;
                height: 20px;
                border-bottom: 2px solid #3D454B;
                width: calc(100% - .6rem);
                .tit {
                    position: relative;
                    border-radius: 100%;
                    background: #3D454B;
                    bottom: -5px;
                    color: #333;
                    width: 30px;
                    height: 30px;
                    display: inline-block;
                    line-height: 32px;
                    font-size: 11px;
                }
            }
        }
        .copy {
            padding: 1rem;
            font-size: 12px;
            text-align: center;
            color: #7b7b7b;
            position: absolute;
            bottom: 0;
            width: 100%;
            box-sizing: border-box;
            left: 0;
        }
    }
} 
.m_aside {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    overflow: hidden;
}  